# Statische modellbasierte Optimierung Spritzgießprozess

Lade Bibliotheken

In [5]:
import sys
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import pickle as pkl
import pandas as pd

# Füge Pfad der Toolbox zum Suchpfad hinzu
path_dim = Path.cwd().parents[2]
sys.path.insert(0, path_dim.as_posix())

from DIM.optim.control_optim import StaticProcessOptimizer

Lade Daten und bereits gebildetes Modell

In [6]:
data = pd.read_hdf(Path('DIM_20221104.h5'),'modelling_data')

In [7]:
data

,T_zyl1_ist,T_zyl2_ist,T_zyl3_ist,T_zyl4_ist,T_zyl5_ist,T_zyl1_soll,T_zyl2_soll,T_zyl3_soll,T_zyl4_soll,T_zyl5_soll,...,OK/N.i.O.,Nummer,Durchmesser_innen,Durchmesser_außen,Stegbreite_Gelenk,Breite_Lasche,Rundheit_außen,Gewicht,ProjError,Setpoint
Zyklus,,,,,,,,,,,,,,,,,,,,,
67820,224.600006,229.699997,235.000000,240.100006,244.800003,225.0,230.0,235.0,240.0,245.0,...,True,1,27.662001,45.998001,5.362,4.686,0.269,8.117,False,0
67821,224.399994,229.800003,234.899994,240.000000,244.699997,225.0,230.0,235.0,240.0,245.0,...,True,1,27.733999,45.993999,5.380,4.687,0.231,8.115,False,0
67822,224.500000,229.800003,235.000000,240.000000,244.600006,225.0,230.0,235.0,240.0,245.0,...,True,1,27.775000,46.014999,5.394,4.678,0.302,8.133,False,0
67823,224.300003,229.899994,235.000000,240.000000,244.500000,225.0,230.0,235.0,240.0,245.0,...,True,1,27.780001,46.021999,5.392,4.691,0.262,8.127,False,0
67824,224.500000,229.800003,235.000000,240.000000,244.600006,225.0,230.0,235.0,240.0,245.0,...,True,1,27.778000,46.013000,5.396,4.690,0.251,8.129,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68222,224.699997,229.899994,234.899994,239.899994,244.800003,225.0,230.0,235.0,240.0,245.0,...,True,1,27.833000,46.078999,5.621,4.679,0.253,8.165,False,26
68224,224.800003,230.000000,234.899994,240.000000,244.800003,225.0,230.0,235.0,240.0,245.0,...,True,1,27.907000,46.143002,5.302,4.743,0.288,8.211,False,26
68225,225.000000,230.000000,235.000000,240.000000,244.800003,225.0,230.0,235.0,240.0,245.0,...,True,1,27.903000,46.134998,5.391,4.785,0.241,8.218,False,26
68226,225.000000,229.899994,235.000000,239.899994,244.800003,225.0,230.0,235.0,240.0,245.0,...,True,1,27.857000,46.048000,5.362,4.656,0.318,8.151,False,26
68227,224.899994,230.000000,234.899994,240.000000,244.899994,225.0,230.0,235.0,240.0,245.0,...,True,1,27.905001,46.133999,5.332,4.770,0.229,8.214,False,26